hello
stat
puts
malloc-free

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.tar.gz
*.lo
*.la
*.log
*.trs
*.log
*.gch
