hello
stat
puts
malloc-free
test-strcat
test-strchr
test-strcpy
test-strdup
test-strspn
test-strpbrk

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.tar.gz
*.lo
*.la
*.log
*.trs
*.log
*.gch
