exit
hello
stat
puts
malloc-free
ctypes
test-ffs
test-file-io-roundtrip
test-memccpy
test-memchr
test-memcmp
test-memcpy
test-memmove
test-memset
test-strcasecmp
test-strcat
test-strchr
test-strcpy
test-strdup
test-strspn
test-strpbrk
test-strstr
test-strtok
test-strtol

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.tar.gz
*.lo
*.la
*.log
*.trs
*.log
*.gch
